//COLORS

$color-primary: #009688;
$color-primary-light: #b2dfdb;
$color-primary-dark: #00796b;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

//Width Sizes
$screen-size-xl: 1201px;
$screen-size-lg: 1025px;
$screen-size-md: 768px;
$screen-size-sm: 480px;
$screen-size-s: 320px;

$max-width-size: 865px;
